
@{
    ViewData["Title"] = "TwoStepVerification";
    Layout = "_Layout";
}

<h1>TwoStepVerification</h1>
<form asp-action="TwoStepVerification">
    <div class="form-group col-4">
        <label  class="control-label"></label>
        <input  class="form-control" />
        <span  class="text-danger"></span>
    </div>
    <div class="col-4">
        
        <input type="submit" value="Verify" class="btn btn-outline-primary col-8" />
    
    </div>
    
</form>
